body{
  background-color: aliceblue;
}
nav {
    background-color: royalblue;
    height: 5vh;
    width: 100%;
    position: fixed;
    border: 0cm;
    top: 0;
    left: 0;
    margin-bottom: 50px; /* Ajustați valoarea după necesitate */
  }
  
  nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 15%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: black;
    background-color: blanchedalmond;
    text-align: center;
    text-decoration: none; 
    border: 0cm;
    left: 0cm;
    animation: rotate 2s linear forwards;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  h2{
    text-align: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #28282B, #36454F);
    color: aliceblue;
    margin-top: 40px;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  footer{
    text-align: left; 
    background-color: #36454F;
  }
  address{
    text-align: left;
    float: left;
    margin-top: 10%;
  }
h4{
  background-color: antiquewhite;
  text-align: center;
}